body {
    margin: 0px;
}

* {
    font-family: "微軟正黑體";
}

.site-wrapper {}


/* carousel */

.container {
    width: 100%;
    padding: 0px;
    height: 500px;
}

.carousel-inner {
    height: 500px;
}

.active {
    height: 500px;
    z-index: 0;
}

.item {
    height: 500px;
}

.carousel {
    width: 100%;
}

.carousel-bg {
    position: absolute;
    z-index: 1;
    width: 100%;
}


/* browse-bar */

.browse-bar {
    height: 175PX;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #f2f2f2;
    border-radius: 4px;
}

.browse-inner {
    padding: 20px;
    text-align: center;
}

.browse-button li {
    padding: 3px;
    margin: 0px;
    height: 150px;
    width: 150px;
}

.browse-button h1 {
    font-size: 25px;
    line-height: 5em;
    margin: 0px;
    height: 100%;
    width: 100%;
    transition: margin-top 0.15s ease-in;
    -webkit-transition: margin-top 0.15s ease-in;
    -moz-transition: margin-top 0.15s ease-in;
    -o-transition: margin-top 0.15s ease-in;
    -ms-transition: margin-top 0.15s ease-in;
}

.browse-button h1:hover {
    margin-top: -100%;
}

.browse-button a:hover h1 {
    margin-top: -100%;
}

.browse-button a {
    margin: 0px;
    background: rgba(178, 137, 80, 0.34);
    display: block;
    height: 130px;
    width: 126px;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

#dw {
    border-bottom: 4px solid red;
}

#dw2 {
    background-color: red;
}

#ev {
    border-bottom: 4px solid blue;
}

#ev2 {
    background-color: blue;
}

#fb {
    border-bottom: 4px solid purple;
}

#fb2 {
    background-color: purple;
}

#cl {
    border-bottom: 4px solid orange;
}

#cl2 {
    background-color: orange;
}

#re {
    border-bottom: 4px solid yellow;
}

#re2 {
    background-color: yellow;
}

#id {
    border-bottom: 4px solid green;
}

#id2 {
    background-color: green;
}

.browse-button div {
    font-size: 25px;
    line-height: 5em;
    height: 100%;
    width: 100%;
}

.browse-button {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin: 0 50px;
}


/*
.browse-button {
    display: inline-block;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    line-height: 130px;
    margin: 0 50px;
    background-color: aqua
}
*/


/* section */

.news-inner {
    margin: 100px;
    text-align: center;
}

.gallery {
    height: 500px;
    margin: 30px 0px;
    width: 100%;
}

#introduction {
    margin: 30px;
    color: #000000;
}

.introduction-inner {
    margin: 30px 0;
    font-size: 1.7em;
    text-align: justify;
}


/* footer */

.footer {
    text-align: center;
    background-color: #2a2929;
    height: 150px;
    width: 100%;
}

.copyright {
    font-size: 25px;
    color: aliceblue;
    line-height: 6em;
}
