* {
    font-family: "微軟正黑體";
}

body {
    margin: 0px;
}


/*page-head*/

#row1 {
    color: aliceblue;
    background-color: #2f2f2f;
    border-top: 6px solid #d4d4d4;
    border-bottom: 6px solid #d4d4d4;
    height: 100px;
}

#row1 h1 {
    margin-left: 20px;
    font-size: 24px;
}

.page-button {
    list-style: none;
    text-align: center;
}

.page-button li {
    margin: 10px;
    font-size: 24px;
    display: inline-block;
    line-height: 3em;
}

.page-button li:hover {
    cursor: pointer;
}


/*main*/

.director {}

.full-time-teachers {}

.part-time-teachers {}

.photo {
    border-radius: 100%;
    margin: 0px 200px;
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-image: url(../180906-love-live-honoka.jpg);
}

.self-introduction {
    height: 195px;
    margin: 50px;
}

.intro {
    margin: 25px 0px;
}


/* footer */

.footer {
    text-align: center;
    background-color: #2a2929;
    height: 150px;
    width: 100%;
}

.copyright {
    font-size: 25px;
    color: aliceblue;
    line-height: 6em;
}
